hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape{
    display: none;
}

@media screen  and (min-width: 1024px){
    .rodape{
        display: flex;
    }

    .rodape__titulo{
        font-size: 24px;
        font-weight: 400;
        white-space: nowrap;

    }

    .lista-rodape{
        margin: 0 3em;
        display: block;
    }

    .lista-rodape__titulo{
        font-size:14px ;
        color:var(--cinza-claro);
        font-weight: 400;
        padding: 2px;
        

    }

    .lista-rodape__item{
        padding: 5px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 1em;
        margin: 0.6em 0 
    }
    
    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza);
    }
}

@media screen and (min-width:1728px) {
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
        margin: 0 8em 0 8em;
    }

    .rodape{
        padding: 3em 1em;
       
    }
    
}